<style>
	@import url("https://fonts.googleapis.com/css?family=Tangerine:700&display=swap");

	body {
		padding-top: 122px;
	}

	.site-navbar .container-fluid {
		display: flex;
		flex-direction: column;
		align-items: stretch;
	}

	.site-title-row {
		width: 100%;
		min-height: 62px;
	}

	#wsite-title {
		display: block;
		float: none;
		height: auto;
		padding: 8px 15px 2px;
		font-family: "Tangerine", cursive !important;
		font-size: 34px;
		font-weight: 700 !important;
		line-height: 1.2;
		color: #ae40a5 !important;
		white-space: normal;
	}

	.site-nav-row {
		position: relative;
		width: 100%;
		min-height: 50px;
		border-top: 1px solid rgba(0, 0, 0, 0.08);
	}

	.site-nav-row .navbar-collapse {
		padding-right: 0;
		padding-left: 0;
	}

	.site-nav-row .navbar-nav {
		margin-top: 0;
		margin-bottom: 0;
	}

	@media screen and (min-width: 767px) {
		#wsite-title {
			font-size: 40px !important;
		}

		.site-nav-row .navbar-collapse {
			display: block !important;
		}
	}

	@media screen and (max-width: 766px) {
		body {
			padding-top: 74px;
		}

		.site-navbar .container-fluid {
			position: relative;
		}

		.site-title-row {
			display: flex;
			align-items: center;
			min-height: 64px;
			padding-right: 58px;
		}

		#wsite-title {
			width: 100%;
			padding: 6px 8px 4px;
			font-size: 25px;
			line-height: 1.05;
		}

		.site-nav-row {
			position: static;
			min-height: 0;
			border-top: 0;
		}

		.site-nav-row .navbar-toggle {
			position: absolute;
			top: 32px;
			right: 15px;
			z-index: 2;
			margin: 0;
			transform: translateY(-50%);
		}

		.site-nav-row .navbar-collapse {
			margin: 0 -15px;
			border-top: 1px solid rgba(0, 0, 0, 0.08);
		}
	}
</style>

<div class="navbar navbar-default navbar-fixed-top site-navbar" role="navigation">
	<div class="container-fluid">
		<div class="site-title-row">
			<a id="wsite-title" class="navbar-brand" href="{{ site.url }}{{ site.baseurl }}/">
				Welcome to Ding Wang's Homepage - Password Cryptography
			</a>
		</div>

		<div class="site-nav-row">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
				data-target="#navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbar-collapse-1">
				<ul class="nav navbar-nav navbar-left">
					<li><a href="{{ site.url }}{{ site.baseurl }}/" target="_self">HOME</a></li>
					<li><a href="{{ site.url }}{{ site.baseurl }}/researches/" target="_self">RESEARCH</a></li>
					<li><a href="{{ site.url }}{{ site.baseurl }}/publications/" target="_self">PUBLICATION</a></li>
					<li><a href="{{ site.url }}{{ site.baseurl }}/fuzzyverifier/" target="_self">FUZZYVERIFIER</a></li>
					<li><a href="{{ site.url }}{{ site.baseurl }}/passwordpolicy/" target="_self">PASSWORD POLICY</a></li>
					<li><a href="{{ site.url }}{{ site.baseurl }}/miscellanea/" target="_self">MISCELLANEA</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>

<script>
	document.addEventListener("DOMContentLoaded", function () {
		document.querySelectorAll('a[href]:not([target])').forEach(function (link) {
			link.setAttribute("target", "_blank");
			link.setAttribute("rel", "noopener noreferrer");
		});
	});
</script>