---
layout: default
---

<style>
  #homeid::after {
    display: table;
    clear: both;
    content: "";
  }

  #homeid .home-profile {
    float: right;
    width: 166px;
    margin: 0 0 1rem 1.5rem;
    text-align: center;
  }

  #homeid .home-profile img {
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    border-radius: 2%;
  }

  #homeid .home-profile figcaption {
    margin: 0.4rem 0 0;
    color: #666;
    font-size: 14px;
    line-height: 1.25;
    text-align: center;
  }

  @media screen and (max-width: 576px) {
    #homeid .home-profile {
      float: none;
      width: 160px;
      max-width: 60%;
      margin: 0 auto 1rem;
    }
  }

  #homeid .word-cloud-right {
    float: right;
    width: 250px;
    margin: 0 0 1rem 1.5rem;
  }

  #homeid .word-cloud-right img {
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
  }

  @media screen and (max-width: 576px) {
    #homeid .word-cloud-right {
      float: none;
      width: 100%;
      max-width: 280px;
      margin: 1rem auto;
    }
  }
</style>

<div id="homeid" class="col-sm-12">
  <figure class="home-profile">
    <img src="{{ site.baseurl }}/images/prof_pic.jpg" alt="Professor Ding Wang">
    <figcaption>Stay curious, Work hard</figcaption>
  </figure>

  {{ content }}
</div>